/*---------------------------------------tag selectors*/

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

h1{
    font-family: 'Merriweather', serif;
    line-height: 2;
    font-weight: 900;
    padding: 2rem;
}

/*---------------------------------------class selectors*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.home{
    height: 60bh;
    width: 100bw;
}

.contact-logo{
    position: relative;
    top: 50px;
    width: 10%;
    margin: 5px;
    border-radius: 100%;
}

.nav-item{
    font-family: 'Merriweather', serif; 
}

.about-page{
    margin:0px;
    background-color:black;
    height: 100%;
    padding: 2rem;
}

.about-p{
    color: white;
    line-height: 2;
    text-align: justify;
    width: 50%;
    margin: auto 100px;
}

.about-pic{
    margin: 100px 50px;
    height:450px;
    width:300px;
    float:right;
}

.about-pic:hover{
    transition: all 1s ease;
    transform: scale(1.15);
}

.registration{
    background-color: black;
    text-align:center;
    margin-top:0px;
    padding:0px;
    width:100%;
    height:50px;
}

.News h1{
   text-align: center;
   font-size: 2.5rem;
   margin-top: 20px;
   margin-bottom: 40px;
}

.News__Section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}

.News__Lines{
   display: flex;
   flex-direction: column;

}
.NewsHeadings{
    list-style-type: none;  
}
.news{
    margin: 10px 0;
}

.News__EventCards{
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin: 50px auto;
}

.News__EventCard img{
    width: 300px;
    height: 400px;
}
.News__EventCard:hover{
    transition: all 1s ease;
    transform: scale(1.15);
}

@media screen and (max-width:1300px){
    .News__Section{
        padding: 0 20px;
    }
    .News__EventCard,.News__EventCard img{
        width: 250px;
        height: 350px;
    }
}

@media screen and (max-width:1100px){
   
  .News__Section{
      flex-direction: column;
  }
 .News__MainEvents{
      margin-top: 50px;
  }
   .News__EventCards{
    justify-content: space-around;
    width: 100vw;

   } 
}

@media screen and (max-width:600px){
    .News__Lines{
       height: 200px; 
    }
    .News__EventCard,.News__EventCard img{
        width: 40vw;
    } 
}



*{
    margin: 0;padding: 0;box-sizing: border-box;
}

.Events__List{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: space-around;
    background: #000;
}

.EventHeading{
    color: aliceblue;
    font-size: 2rem;
    margin: 20px 0;
    text-align: center;
}

.EventsCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center; 
}

.EventsCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    margin: 20px 10px;
    background: darkslategray;
    position: relative;
    display: none;
}

.EventsCard:nth-child(1),
.EventsCard:nth-child(2),
.EventsCard:nth-child(3){
    display: flex;
}

.EventImg img{
    width: 25vw;
    margin-bottom: 5px;
}
.EventTitle{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    margin: 10px 0;
}
.EventInfo{
position: absolute;
top: 0;
opacity: 0; 
color: #fff;
}

.EventsCard:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.1);
}

.EventsCard:hover .EventTitle{
    position:absolute;
    opacity: 0;
    margin: 0;
}

.EventsCard:hover .EventInfo{
    position: relative;
    opacity: 1;
    transition: 1s ease-in-out;
    text-align: center;
}

#load-more,#view-less{
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid #fff;
    background: red;
    height: 30px;
    color: #fff;
    margin: 10px auto;
    padding: 0px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#view-less{
    display: none;
}


@media screen and (max-width:1100px){
    .EventsCards{
        grid-template-columns: 1fr 1fr;
    }
    .EventsCard{
        width: 40vw;
    }
    .EventImg img{
        width: 40vw;
    }

}

@media screen and (max-width:550px){
    .EventHeading{
        font-size: 1rem;
        margin: 10px 0;
    }
    .EventsCards{
        grid-template-columns: 1fr;
    }
    .EventsCard{
        width: 85vw;
    }
    .EventImg img{
        width: 85vw;
    }
    .EventsCard:hover{
        transform: scale(1.05);
    }
  

}

.AboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AboutUs .Heading__AboutUs{
    font-size: 2.5rem;
}
.AboutUsCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.AboutUsCard{
    display: flex;
    flex-direction: column;
    align-items: center;
   width: 20vw;
   background: #000;
   margin: 50px 2vw;
   position: relative;
}


.AboutUsCard img{
    width: 20vw;
    height: 200px;
}
.ContactMember{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #000;
    position: absolute; 
    opacity: 0;
}

.ContactMember img{
   width: 40px;
   height: 40px;
   border-radius:50%;
   margin: 0 10px; 
}

.NameOfMember{
    color: aliceblue;
    text-align: center;
    padding:15px 5px;
}

.AboutUsCard:hover .ContactMember{
    top:calc(200px - 40px);
   transition: all 0.5s ease-in-out;
    opacity: 1;
}

@media screen and (max-width:1000px){
    .AboutUsCards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    
    .AboutUsCard{
        display: flex;
        flex-direction: column;
        align-items: center;
       width: 30vw;
       background: #000;
       margin: 50px 1vw;
       position: relative;
    }
    
    
    .AboutUsCard img{
        width: 30vw;
        height: 200px;
    } 
    .ContactMember{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: #000;
        position: absolute; 
        opacity: 0;
    }
    
    .ContactMember img{
       width: 40px;
       height: 40px;
       border-radius:50%;
       margin: 0 10px; 
    }
}
@media screen and (max-width:600px){
    .AboutUsCards{
        grid-template-columns: 1fr 1fr;
    }
    
    .AboutUsCard{
       width: 45vw;
    }
    
    
    .AboutUsCard img{
        width: 45vw;
        height: 200px;
    } 
    .ContactMember{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: #000;
        position: absolute; 
        opacity: 0;
    }
    
    .ContactMember img{
       width: 40px;
       height: 40px;
       border-radius:50%;
       margin: 0 10px; 
    }
}
@media screen and (max-width:450px){
    .AboutUsCards{
        grid-template-columns: 1fr;
    }
    
    .AboutUsCard{
       width: 80vw;
    }
    
    
    .AboutUsCard img{
        width: 80vw;
        height: 200px;
    } 
    .ContactMember{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: #000;
        position: absolute; 
        opacity: 0;
    }
    
    .ContactMember img{
       width: 40px;
       height: 40px;
       border-radius:50%;
       margin: 0 10px; 
    }
}

.contact-us{
    background-color: #000;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 3rem;
}


/*----------------------------------------id selectors*/

#insta:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

#linkedin:hover{
    background-color: #6BCB77;
}

#mailme:hover{
    background-color: #F90716;
}